#
# Olimex ARM-USB-TINY-H
#
# http://www.olimex.com/dev/arm-usb-tiny-h.html
#
adapter driver ftdi
ftdi device_desc "Olimex OpenOCD JTAG ARM-USB-TINY-H"
ftdi vid_pid 0x15ba 0x002a
ftdi layout_init 0x0808 0x0a1b
ftdi layout_signal nSRST -oe 0x0200
ftdi layout_signal nTRST -data 0x0100 -oe 0x0100
ftdi layout_signal LED -data 0x0800
#
# Olimex ARM JTAG SWD adapter
# https://www.olimex.com/Products/ARM/JTAG/ARM-JTAG-SWD/
#
transport select jtag
# ftdi layout_signal SWD_EN -nalias nTRST
# ftdi layout_signal SWDIO_OE -alias TMS

# source [find interface/ftdi/olimex-arm-usb-tiny-h.cfg]
# transport select swd
set CHIPNAME atsame70n21
source [find target/atsamv.cfg]
reset_config trst_and_srst
cortex_m reset_config vectreset
adapter speed 1000
init
reset halt


